<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senua's Hellblade II</title>
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'css\style.css' %}">
    <script src="{% static 'javascript/index.js' %}"></script>
    <script>
        
    </script>
</head>
<body>
    <div id="scroll-animate">
        <div id="scroll-animate-main">
            <div class="wrapper-parallax">
                <header>
                    <h1>Hellblade II</h1>
                </header>

                <section class="content">
                    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

                    <section class="hero-section">
                    <div class="card-grid">
                        <a class="card" href="#">
                        <div class="card__background" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Reykjanest%C3%A1%2C_Iceland%2C_20230430_1312_3597.jpg/800px-Reykjanest%C3%A1%2C_Iceland%2C_20230430_1312_3597.jpg?20230523172128)"></div>
                        <div class="card__content">
                            <p class="card__category">Act I</p>
                            <h3 class="card__heading">Reykjanestá</h3>
                        </div>
                        </a>
                        <a class="card" href="#">
                        <div class="card__background" style="background-image: url('{% static "images/SenuasSagaHellbladeII_Preview_Screenshot_05.png" %}')"></div> 
                        <div class="card__content">
                            <p class="card__category">Act II</p>
                            <h3 class="card__heading">Freyslaug</h3>
                        </div>
                        </a>
                        <a class="card" href="#">
                        <div class="card__background" style ="background-image: url(https://www.utterlyoriginal.co.uk/sy-photos/2021/04/01/16/large_ecf11d77d_20210401_122724-01.jpeg)"></div>
                        <div class="card__content">
                            <p class="card__category">Act III</p>
                            <h3 class="card__heading">Rauðhólar</h3>
                        </div>
                        </li>
                        <a class="card" href="#">
                        <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1557004396-66e4174d7bf6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
                        <div class="card__content">
                            <p class="card__category">Act IV</p>
                            <h3 class="card__heading">Huldufólk</h3>
                        </div>
                        </a>
                        <a class="card" href="#">
                            <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1557187666-4fd70cf76254?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
                            <div class="card__content">
                                <p class="card__category">Act V</p>
                                <h3 class="card__heading">Bárðarvik</h3>
                        </div>
                        </a>
                        <a class="card" href="#">
                            <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1557187666-4fd70cf76254?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
                            <div class="card__content">
                                <p class="card__category">Act VI</p>
                                <h3 class="card__heading">Borgarvirki</h3>
                        </div>
                        </a>
                    <div>
                    </section>
                </section>

                <footer>
                    <h1>Footer</h1>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>
